<div class="footer">
    <div class="container">
        <div class="row footer-wrap">
            <div class="col-md-4 box-left">
                <div class="footer-logo">
                    <div>
                        <h6>EASY</h6>
                        <p>KOREAN</p>
                    </div>
                </div>
                <div class="contact">
                    <h5>EASY KOREAN</h5>
                    <div class="list-contact">
                        <div class="phone-number">(+84) 969 758 516</div>
                        <a href="https://todaikorean.com/introduction">{{'Introduction' | translate}}</a>
                        <a href="https://todaikorean.com/other/privacy-policy">{{'Policy' | translate}}</a>
                        <a href="https://todaikorean.com/other/term">{{'Terms' | translate}}</a>
                        <a href="https://www.facebook.com/TodaiEasyJapneseNews">Fanpage</a>
                        <a href="mailto:eup.mobi@gmail.com">{{'Email-contact' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-5 download-other">
                <h5 class="title">{{'Other-Apps' | translate}}</h5>
                <div class="download-wrapper">
                    <a href="https://easychinese.io">
                        <div class="box-download-cust">
                            <img src="assets/images/icon/ic_easychinese.png" alt="Easy Chinese">
                            <div class="box-download-content">
                                <small>{{'Practice-reading-Chinese' | translate}}</small>
                                <p>EasyChinese</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://easyjapanese.net/">
                        <div class="box-download-cust">
                            <img src="assets/images/icon/ic_easyjapanese.jpg" alt="Easy Chinese">
                            <div class="box-download-content">
                                <small>{{'Practice-reading-Japanese' | translate}}</small>
                                <p>EasyJapanese</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://dunno.ai/">
                        <div class="box-download-cust">
                            <img src="assets/images/icon/ic_dunno.png" alt="Easy Chinese">
                            <div class="box-download-content">
                                <small>{{'English-dictionary' | translate}}</small>
                                <p>Dunno</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://hanzii.net/">
                        <div class="box-download-cust">
                            <img src="assets/images/icon/ic_hanzii.jpg" alt="Easy Chinese">
                            <div class="box-download-content">
                                <small>{{'Chinese-dictionary' | translate}}</small>
                                <p>Hanzii</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 download-app">
                <h5 class="title">{{'Get-the-app' | translate}}</h5>
                <div class="download-wrapper">
                    <a href="https://play.google.com/store/apps/details?id=mobi.eup.easykorean&hl=vi&gl=US">
                        <img src="assets/images/icon/icon_app_store.png" alt="">
                    </a>
                    <a
                        href="https://apps.apple.com/us/app/easy-korean-news-%EC%89%AC%EC%9A%B4-%ED%95%9C%EA%B5%AD%EC%96%B4-%EB%89%B4%EC%8A%A4/id1441601041">
                        <img src="assets/images/icon/icon_google_play.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-12 source-web">

                <span>
                    Copyright © 2018
                    <a href="https://todaikorean.com/">todaikorean.com</a>
                </span>
                <span>
                    Design by
                    <a href="https://eupgroup.net/">eUp</a>
                </span>
            </div>
        </div>
    </div>

</div>